body{
    margin: unset;
    padding: unset;
}
.pokedex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


p{
    height:max-content;
    font-family: Mark-Light;
}

.containerPokedex{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.card{
    margin: 10px 20px 0 0;
    max-width: 330px;
    background: #ecebeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px;
}

.card p {
    margin-right: 5px;
}

.type{
    border-radius: 3px;
    padding: 3px 8px;
    font-family: Mark-Book;
    border: solid 0.1px black;
}

.types{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1{
    font-family: "Pokemon Hollow";
    font-size: 70px;
}
