body{
    margin: unset;
    padding: unset;
}
.pokedex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


p{
    height:max-content;
    font-family: Mark-Light;
}

.containerPokedex{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.card{
    margin: 10px 20px 0 0;
    max-width: 330px;
    background: #ecebeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 1px;
}

.card p {
    margin-right: 5px;
}

.type{
    border-radius: 3px;
    padding: 3px 8px;
    font-family: Mark-Book;
    border: solid 0.1px black;
}

.types{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1{
    margin: unset;
    padding: unset;
    padding: 20px 0;
}

h1 a{
    font-family: "Pokemon Hollow";
    font-size: 70px;
    color: black;
    padding: unset;
    margin: unset;
    text-decoration: none;
    margin:30px 0 0 30px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDetails{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
}

.card-details{
    border: solid 1px black;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-details div p{
    font-size: 55px;
    margin: unset;
    padding: unset;
}

table{
    width: 100%;
    margin: unset;
}

tr{
    width: 100%;
    margin: unset;
}

td{
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: unset;
    background: #ecebeb;
}

th{
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: unset;
    font-weight: normal;

}




